*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #BDBDBD;
  font-size: 17px;
  font-family: roboto;
}

/* header */
.header{
  margin: 0 auto;
  padding-top: 30px;
}
.header__title{
  width: 600px;
  height: 300px;
  background-color: #FBFE7B;
  margin: 0 auto;
  padding-top: 30px;
  border: 4px solid #000;
}
.header__title__avatar{
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__title__name{
  display: flex;
  justify-content: center;
  font-size: 42px;
  font-weight:900;
  letter-spacing: 1.3px;
}
.header__title__h1{
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  font-weight:600;
  letter-spacing: 1px;
}
.header__button{
  width: 600px;
  margin: 0 auto;
  position: relative;
  display: flex;
  border: 4px solid #000;
  border-top: none;
}
.header__button__items{
  width: 50%;
  border-top: none;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight:700;
  font-size: 18px;
}
.header__email{
  border-left: none;
  background-color: #000;
  color: #fff;
}
.header__download{
  border-right: none;
  background-color: #fff;
}
.header__download:hover{
  background-color: #8887FF;
  color: #fff;
}
.header__email:hover{
  background-color: #8887FF;
  color: #fff;
}

/* main */
.main{
  padding-top: 100px;
}

/* about me */
.about_me{
  background-color: #DEDEFF;
}
.about_me__container__title{
  max-width: 100%;
  height: 58px;
  border: 4px solid #000;
  border-left: none;
  border-right: none;
  background-color: #FBFE7B;
  display: flex;
}
.about_me__title__span{
  color: #737ae3;
}
.about_me__title{
  padding-bottom: 5px;
  margin: auto;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 800;
}
.about_me__container__paragraph{
  max-width: 700px;
  background-color: #fff;
  margin: 0 auto;
  padding: 80px 50px 120px 50px;
  border: 4px solid #000;
  border-top: none;
}
.about_me__paragraph__link{
  text-decoration: none;
  color: #000;
}
.about_me__paragraph__link:hover{
  color: #737ae3;
}
.about_me__paragraph{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .3px;
  margin-top: 50px;
}

/* skils */
.skils{
  background-color: #DEDEFF;
}
.skils__container__title{
  max-width: 800px;
  height: 38px;  
  padding-top: 10px;
  background-color: #8887FF;
  margin: 0 auto;
  padding-top: 5px;
  border: 4px solid #000;
  border-top: none;
  border-bottom: none;
}
.skils__title{
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 26px;
  font-weight:600;
  letter-spacing: 1px;
}
.skils__container__items{
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  border: 4px solid #000;
  border-bottom: none;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}
.skils__items{
  width:100%;
  box-shadow: 0px 0px 0px 3px #000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .3px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 22px;
}
.skils__items__first_column{
  background-color: #B3B3B3;
}
.skils__items__second_column{
  background-color: #fff;  
}
.skils__items__third_column{
  background-color: #FBBC8B;
}
.skils__items__fourth_column{
  background-color: #B3B3B3;
}

/* footer */
.footer__container__contacts{
  max-width: 100%;
  height: 38px;
  padding-top: 5px;
  border: 4px solid #000;
  border-left: none;
  border-right: none;
  background-color: #FBFE7B;
  display: flex;
}
.footer__contacts__title{
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 26px;
  font-weight:600;
  letter-spacing: 1px;
}
.footer__contacts{
  max-width: 700px;
  padding: 0 50px 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #000;
  border-top: none;
  border-bottom: none;
}
.footer__contacts__items__git{
  display: block;
  width: 100px;
  font-size: 20px;
  font-weight:600;
  letter-spacing: 1px;
  text-decoration: none;
  color: #000;
}
.footer__contacts__items__git:hover{
  color: #FBFE7B;
}
.footer__contacts__items__rss{
  display: block;
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__contacts__items__border{
  height: 90px;
  width: 300px;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
}
.footer__year{
  height: 50px;
  background-color: #E4E4E4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 4px solid #000;
}
.footer__year__iteem{
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .3px;
  color: #505050;
}